/* write your css here */
.gradient-text {
    background-image: linear-gradient(to right, #1FA2FF, #12D8FA, #A6FFCB, #F1F2FF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .shadow-drop {
    filter: drop-shadow(20px 20px 0px #F5F5F5);
  }

  .bg-gradient-blue {
    background: linear-gradient(111.93deg, rgba(14, 26, 45, 0.24) -1.4%, rgba(17, 30, 50, 0.38) 104.96%);
  }

  .homepage_bg {
    background: url("../src/assets/Images/bghome.svg");
}

.placeholder{
  margin-left: 10px;
}

html, body {
  overflow-x: hidden;

}

.hi{
  background-image: linear-gradient(118.19deg,#1fa2ff -3.62%,#12d8fa 50.44%,#a6ffcb 104.51%);
  position: absolute;
}

.lable-style {
  @apply text-[14px] text-richblack-5;
}
.form-style {
  @apply rounded-lg bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
}

.section_heading {
  @apply text-2xl font-bold text-richblack-5 lg:text-4xl;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid #f1f2ff;
  animation: spinner-bulqg1 0.8s infinite linear alternate,
    spinner-oaa3wk 1.6s infinite linear;
}
